<div class="res">
  <div class="header">
    <div class="container">
      <%= link_to "Download PDF", get_pdf_path(format: :pdf)%> <br>
      <%= link_to "Preview PDF", get_pdf_path()%>
    </div>
  </div>
</div>
